.SpinerApp{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000000000;
}
.SpinerApp .spinner-border{
    width: 100px;
    height: 100px;
}
.Spiner{
    width: 100%;
    height: 100%;
}
.Spiner .spinner-border{
    width: 80px;
    height: 80px;
}